<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WorkStation.Properties.Settings.ConnectionString" connectionString="Data Source=192.168.1.221;Initial Catalog=Patrol;UserId=sa;Password=sa123" />
    </connectionStrings>
</configuration>